.post {
    display:flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    background-color: #E58900;
    margin:5px 0;
    width:480px;
    height: 74px;
    padding:5px;
    border-radius: 5px;
    text-decoration: none;
}
.post-number {
    color: #010326;
}
.post:hover {
    cursor: pointer;
    background-color: #F2B705;
}
.post-title {
    margin:0 0 0 2px;
    color:#010326;
}